<!doctype html>
<html ng-app="ShoppingListCheckOff" lang="en">
  <head >
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div ng-controller="ToBuyController as list1" class="col-md-6">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in list1.toBuy"> 
            Buy {{item.quantity}} of {{item.item}}
       <button class="btn btn-primary btn-xs" ng-click="list1.AlreadyBoughtItems($index)">
       <span class="glyphicon glyphicon-ok"></span> Bought</button>
       </li>
       
     </ul>
     <div ng-if="list1.toBuy.length ===0;" class="emptyMessage">
             "Everything is bought!" 

     </div>
    </div>

    <!-- Already Bought List -->
    <div ng-controller="AlreadyBoughtController as list2" class="col-md-6">
     <h2>Already Bought:</h2>
     <ul>
       <li  ng-repeat="item in list2.bought track by $index">  
        Bought {{item.quantity}} of {{item.item}}</li>
     </ul>
     <div ng-if="list2.bought.length ===0; " class="emptyMessage">
              Nothing is bought
      </div>
    </div>
  </div>
</div>

</body>
</html>
